
@{
    ViewBag.Title = "EditFormTest";
}

<h2>EditFormTest</h2>

<form>
    <input type="checkbox" value="a" name="ck" />
    <input type="checkbox" value="a" name="ck" />
    <input type="checkbox" value="a" name="ck" />
    <input type="checkbox" value="b" name="ck" />
    <input type="checkbox" value="b" name="ck" />
    <input type="checkbox" value="c" name="ck" />
    <input type="checkbox" value="c" name="ck" />
    <input type="checkbox" value="c" name="ck" />
    <input type="submit" value="提交"/>
</form>